@import "../var/variables.scss";


@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(../fonts/ProximaNova-Bold.ttf);
  }

@font-face{
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova-Regular.ttf)
}


html, body{ 
    margin: 0;
    padding: 0;
}
body{
    .container{
        header{
            .header_text{
                border: 0px;
            }
        }
    }









    .screen1{
        height: 512px;
        background-color: #ccfcff;
    
    }
    
















}