@font-face {
  font-family: 'ProximaNova-Bold';
  src: url(../fonts/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #222B3A;
  font-family: 'ProximaNova-Bold';
}

body .tasks_header {
  padding: 10px 0 10px 0;
}

body .tasts_header_text {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 30px;
}

body .fu_checkbox {
  margin-right: 30px;
}

body .fu_checkbox input[type=checkbox] {
  display: none;
}

body .fu_checkbox div {
  height: 25px;
  width: 25px;
  background-color: #0099DD;
  border-radius: 3px;
}

body .fu_checkbox div::after {
  font: 900 80% sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

body .fu_checkbox input:checked + div {
  color: #000;
  background-image: url("../img/hueta.png");
}

body .fu_checkbox input:checked + div::after {
  opacity: 1;
}

body a {
  text-decoration: none;
  color: #222B3A;
  margin-right: 68px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

body header {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header_right_item a:nth-child(2) {
  border-bottom: 2px solid #F78000;
}

body header .header_right_item a:hover {
  border-bottom: 2px solid #F78000;
}

body header .header_right_item .header_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

body header .header_right_item .header_text img {
  margin-right: 6px;
}

body header .header_text:nth-child(2) {
  border-bottom: 2px solid #F78000;
}

body .container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

body .screen1 {
  height: 537px;
  background: url("../img/module_bg.png") no-repeat right;
  background-color: #56c3e0;
  overflow: hidden;
}

body .screen1 .screen1_content {
  width: 622px;
  overflow: hidden;
}

body .screen1 .screen1_content .info_text {
  padding-top: 280px;
  width: 465px;
}

body .screen1 .screen1_h1 {
  position: absolute;
  width: 880px;
  height: 82px;
  left: -45px;
  top: 184px;
  padding-right: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #222B3A;
  border-radius: 3px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 38px;
}

body .screen1 h2 {
  color: #F78000;
  text-transform: uppercase;
  font-size: 24px;
}

body .screen1 .info_button {
  height: 44px;
  width: 209px;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 3px 3px 12px rgba(79, 79, 79, 0.1);
          box-shadow: 3px 3px 12px rgba(79, 79, 79, 0.1);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: 'ProximaNova';
  font-size: 14px;
  line-height: 17px;
}

body .screen1 .screen1_themes_counter {
  margin-top: 72px;
}

body .screen1 .screen1_themes_counter .themes_counter_string {
  width: 468px;
  height: 15px;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

body .screen1 .screen1_themes_counter .themes_counter_string .themes_counter_percent {
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 2px;
  background: #296DCE;
  border-radius: 2px;
  width: 259px;
  height: 9px;
}

body .screen1 .screen1_themes_counter .themes_total_info {
  color: white;
  width: 340px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen1 .screen1_themes_counter .themes_total_info .total_info_nubmer {
  font-size: 38px;
}

body .screen1 .screen1_themes_counter .themes_total_info .total_info_text {
  width: 50px;
  font-size: 14px;
}

body .screen1 .screen1_themes_counter .themes_total_info .total_info_text {
  margin-left: 10px;
  margin-right: 150px;
}

body .screen2 {
  color: #979FAD;
  background-color: #FAFAFA;
  height: 50px;
}

body .screen2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen2 .container .screen2_dash {
  margin: 0 13px 0;
  width: 22px;
  height: 0px;
  border: 1px solid #979FAD;
}

body .screen2 .container .screen2_text:nth-child(5) {
  color: #222B3A;
}

body .tasks_header_row1 {
  width: 22px;
  height: 0px;
  border: 2px solid #222B3A;
}

body .tasks_header_row2 {
  width: 90%;
  height: 0px;
  border: 2px solid #F1F1F1;
}

body .tasks_header {
  font-family: 'ProximaNova-Bold';
  margin-top: 24px;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .tasks_header .triangle {
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid #222B3A;
}

body .screen3 {
  background: white;
}

body .screen3 #screen3_content {
  margin-top: 10px;
  display: none;
  padding-top: 60px;
}

body .screen3 #screen3_content .content_item:last-child {
  border-bottom: 0px;
}

body .screen3 #screen3_content .content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1.3px solid #F3F3F3;
  margin-bottom: 23px;
  font-size: 16px;
  padding-bottom: 20px;
}

body .screen3 #screen3_content .content_item .item_text {
  width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .screen3 #screen3_content .content_item .item_nubmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 16px;
  color: #222B3A;
  background: #F3F3F3;
}

body .screen3 #screen3_content .content_item .item_checkbox {
  width: 25px;
  height: 25px;
  background: #FAFAFA;
  border: 1px solid #DADADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

body .screen3 #screen3_content .content_item .item_checkbox:active {
  width: 25px;
  height: 25px;
  background: url("../img/checkbox_click.png") center;
}

body button {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  width: 100%;
  max-width: 1100px;
}

body .screen4 {
  font-family: 'ProximaNova-Bold';
  background: #FAFAFA;
}

body .screen4 button {
  background-color: #fafafa;
}

body .screen4 .tasks_header {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen4 #screen4_content {
  padding-top: 40px;
}

body .screen4 h2 {
  max-width: 590px;
}

body .card {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 35px 0 35px 0;
  border: 3px solid #F3F3F3;
}

body .card .card_text {
  margin-left: 30px;
}

body .card .card_nubmer {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #F3F3F3;
  border-radius: 3px 0px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card .leftimage {
  width: 15%;
  height: 77px;
  width: 78px;
}

body .card .card_switcher {
  width: 12.5%;
}

body .card .card_content .content_firstrow, body .card .card_content .content_lastrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

body .card .card_content .content_firstrow img, body .card .card_content .content_lastrow img {
  margin-right: 10px;
}

body .card .card_content .content_firstrow img:nth-child(2), body .card .card_content .content_lastrow img:nth-child(2) {
  margin-left: 30px;
}

body .card .card_content .content_firstrow p, body .card .card_content .content_lastrow p {
  color: #1092CB;
}

body .card .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

body .card .toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
}

body .card .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
          box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

body .card .toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(247, 128, 0, 0.5);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

body .card .toggle #cbx1:checked + .toggle:before,
body .card .toggle #cbx2:checked + .toggle:before,
body .card .toggle #cbx3:checked + .toggle:before,
body .card .toggle #cbx4:checked + .toggle:before,
body .card .toggle #cbx5:checked + .toggle:before {
  background: #ffb15f;
}

body .card .toggle #cbx1:checked + .toggle span,
body .card .toggle #cbx2:checked + .toggle span,
body .card .toggle #cbx3:checked + .toggle span,
body .card .toggle #cbx4:checked + .toggle span,
body .card .toggle #cbx5:checked + .toggle span {
  background: #F78000;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  background: .15s ease;
  -webkit-box-shadow: 0 3px 8px rgba(247, 128, 0, 0.2);
          box-shadow: 0 3px 8px rgba(247, 128, 0, 0.2);
}

body .card .toggle #cbx1:checked + .toggle span:before,
body .card .toggle #cbx2:checked + .toggle span:before,
body .card .toggle #cbx3:checked + .toggle span:before,
body .card .toggle #cbx4:checked + .toggle span:before,
body .card .toggle #cbx5:checked + .toggle span:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .card .center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
}

body .screen4 .card:hover, body .screen5 .card:hover {
  border: 3px solid #F78000;
}

body .screen4 .card:hover > .card_nubmer, body .screen5 .card:hover > .card_nubmer {
  background-color: #F78000;
}

body .screen5 {
  background-color: white;
}

body .screen5 .tasks_header .tasks_header_row2 {
  color: black;
}

body .screen6 {
  background: #FAFAFA;
  padding-top: 20px;
  padding-bottom: 25px;
}

body .screen6 button {
  background-color: #fafafa;
}

body .screen6 h2 {
  color: #1092CB;
  margin-top: 35px;
}

body .screen6 h2:nth-last-child() {
  color: #F78000;
}

body .screen6 .orangecard {
  background-color: #F78000;
  color: white;
  width: 100%;
  height: 75px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen6 .orangecard img {
  margin-left: 30px;
  margin-right: 20px;
}

body .screen6 .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen7 .card {
  background: #FAFAFA;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  width: 100%;
  background: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
}

body .screen7 .card img {
  margin-left: 30px;
  margin-right: 30px;
}

body .screen7 .card img:nth-last-child() {
  float: right;
}

body .screen7 #card_content3 {
  background-color: white;
  margin: 0 auto;
  width: 1090px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen7 .card_content3_text {
  text-align: center;
  width: 90%;
}

body .screen7 button {
  width: 1102px;
}

body .screen8 {
  background-color: #fafafa;
}

body .screen8 button {
  background-color: #fafafa;
}

body .screen8 .card_right_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

body .screen8 .card_right_items p {
  color: #979FAD;
  margin: 0 20px 0 20px;
}

body .screen8 .card_right_items img {
  margin: 0 10px 0 20px;
}

body .screen8 .card_left_items {
  margin-left: 30px;
}

body .screen8 .card_content4_content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
}

body .screen8 .first_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .screen8 .first_row p {
  color: #979FAD;
  margin: 0 20px 0 20px;
}

body .screen8 .first_row .card_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

body .screen8 .first_row .card_right {
  margin-left: -300px;
}

body .screen8 .card_content {
  margin: 30px 0 30px;
}

body .screen8 .card_content .trainer {
  margin-top: 30px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 2px solid #F78000;
}

body .screen8 .card_content .trainer .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen8 .card_content .trainer .trainer_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .screen8 .card_content .trainer .trainer_name {
  margin-left: 30px;
  height: 50px;
}

body .screen8 .card_content .trainer .trainer_name p {
  margin-top: 0px;
}

body .screen8 .showComments {
  display: inline-block;
  border-radius: 3px;
  border: 3px solid #F78000;
  color: #F78000;
  width: 250px;
  height: 45px;
  margin-top: 50px;
}

body .ask {
  background: linear-gradient(89.79deg, #FF8A00 0.03%, #FC880D 99.97%);
  border-radius: 3px;
  border: 3px solid #F78000;
  width: 250px;
  height: 45px;
  color: white;
}

body .openQuestions {
  border-radius: 3px;
  border: 3px solid #F78000;
  width: 250px;
  height: 45px;
  color: #F78000;
}

body .ask, body .openQuestions {
  margin-top: 50px;
}

body footer {
  font-family: 'ProximaNova';
  margin-top: 75px;
  color: white;
  background-color: #0099DD;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer .container .footer_section {
  margin-top: 37px;
}

body footer .container .footer_section .section_name {
  font-size: 24px;
  font-family: 'ProximaNova-Bold';
}

body footer .container .footer_section .section_dash {
  margin: 12px 0 25px 0;
  width: 30px;
  height: 3px;
  background: #FFFFFF;
}

body footer .container .footer_section ul {
  list-style-type: none;
}

body footer .container .footer_section ul ol {
  list-style-type: none;
  margin-left: -45px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

body footer .container .footer_section ul a {
  text-decoration: none;
  color: white;
}

body .endpage {
  background: #222B3A;
  height: 47px;
}
/*# sourceMappingURL=module.css.map */